mixin Cta
  section.py-0
    .container-fluid.px-0
      .card.py-4.border-0.rounded-0.bg-primary
        .card-body
          .row.flex-center
            .col-xl-9.d-flex.justify-content-center
              h2.text-light.fw-bold WooCommerce - the most customizable eCommerce
                br
                |platform for building your online business.

            .col-xl-3.text-center
              a.btn.btn-lg.btn-outline-light.rounded-pill(href='#')
                | GET STARTED
